* {
    margin: 0;
    padding: 0;
}

#main-pane {
    width: 100%;
    height: 100%;
    position: absolute;
}

#code-editor-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

#result-editor-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border-left: 1px solid grey;
}

#buttons-left {
    position: absolute;
    top: 0;
    right: 50%;
    z-index: 1;
}

#buttons-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#result-editor, #code-editor {
    width: 100%;
    height: 100%;
}

#compile {
    float: right;
    padding: .5em;
    background-color: #4caf50;
    border-radius: 2px;
    color: white;
    border: 1px solid #43a047;
    margin: .2em;
    cursor: pointer;
}

.compiling #result-editor-wrapper {
    opacity: 0.5;
}