* {
    margin: 0;
    padding: 0;
}

#main-pane {
    width: 100%;
    height: 100%;
    position: absolute;
}

#code-editor-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

#result-editor-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border-left: 1px solid grey;
}

#buttons-left {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 1;
}

#buttons-right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#result-editor, #code-editor {
    width: 100%;
    height: 100%;
}

#buttons-left > *, #buttons-right > * {
    padding: .5em;
    margin: .2em;
    display: block;
    border: 1px solid;
    border-radius: 2px;
}

#compile {
    float: right;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border-color: #43a047;
}

select {
    background-color: white;
    border-color: #d3d3d3;
}

.compiling #result-editor-wrapper {
    opacity: 0.5;
}

.compile-error #result-editor-wrapper .ace_text-layer * {
    color: red !important;
}